.Payments .example {
  text-align: center;
  background: #ffffff99;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.Payments .ant-spin-spinning{
  margin-top: 300px;
}
.Payments .next_btn{
  width: 100%;
  margin: auto;
  text-align: center;
}
.Payments .ant-btn{
  margin-top: 80px;
  margin-bottom: 100px;
  width: 300px;
  border-radius: 0;
  height: 50px;
  font-size: 1.3em;
}