.Home .ant-steps{
  display: none;
}
.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #dbeeff !important;
  color: #4a90e2;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}
.RoomDetail .Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f5f5f5 !important;
  color: #4a90e2;
}
.RoomDetail .date_reset{
  background-color: cornsilk;
}
/*********************************************** Home - SelectDate ***********************************************/
.SelectDate .ui.fluid.image{
  object-fit: cover;
  height: 100vh;
  position: relative;
  min-height: 900px;
}
.SelectDate .logo{
  width: 250px;
  height: 100px;
  text-align: center;
  margin: auto;
}
.SelectDate .content {
  position: absolute;
  top: 30px;
  width: 100% 
}
.SelectDate .content .warpper{
  width: 1000px;
  margin: auto;
}
.SelectDate .content .warpper h1{
  text-align: center;
  color: #fff;
  font-size: 4em;
  font-family: serif;
  text-shadow: 2px 2px 1px #000000a1;
  margin-top: 30px;
  margin-bottom: 0px;
}
.SelectDate .date_warpper{
  background-color: #fff;
  width: 870px;
  margin-top: 50px;
  float: left;
}
.SelectDate .date_select_content{
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.SelectDate .date_select_content .warp{
  width: 33.33%;
  float: left;
  text-align: center;
}
.SelectDate .date_select_content .warp .select{
  font-size: 1.2em;
  font-weight: bold;
}
.SelectDate .DayPicker{
  width: 870px;
  font-size: 1.5em;
}
.SelectDate .DayPicker .DayPicker-Month{
  width: 100%;
}
.SelectDate .number_input .ant-input-number{
  width: 100%;
  border: 0;
}
.SelectDate .number_input .ant-input-number-input{
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.SelectDate .select_btn_warp{
  float: left;
  width: 130px;
  margin-top: 50px;
}
.SelectDate .select_btn_warp .ant-btn{
  width: 100%;
  border-radius: 0;
  border: 0;
}
.SelectDate .select_btn_warp .ant-btn:nth-child(1){
  background-color: #0f64aa;
  color: #fff;
  height: 100px;
  font-size: 2em 
}
.SelectDate .select_btn_warp .ant-btn:nth-child(2){
  background-color: #c7c7c7;
  color: #fff;
  height: 100px;
  font-size: 2em 
}
.SelectDate .priceStyle{
  font-size: 14px;
  text-align: center;
  color: green 
}
.SelectDate .DayPicker-Day--start .priceStyle{
  color: #fff;
}
.SelectDate .DayPicker-Day--end .priceStyle{
  color: #fff;
}
.SelectDate .dropdown_select .warp_select{
  margin-right: 30px;
}
.SelectDate .dropdown_select .warp_select span{
  margin-right: 10px;
}
.SelectDate .dropdown_select .warp_select.adults span{
  color: #db2828;
}
.SelectDate .dropdown_select .warp_select.children span{
  color: #21ba45;
}
.SelectDate .dropdown_select .warp_select.infants span{
  color: #40a9ff;
}
.drop_warp{
  padding: 10px 0px 0px 0px!important;
  width: 200px;
}
.menu_drop{
  border-bottom: 1px solid #ececec;
  padding: 10px 12px!important;
}
.menu_drop .adults{
  color: #db2828;
}
.menu_drop .children{
  color: #21ba45;
}
.menu_drop .infants{
  color: #40a9ff;
}
.menu_drop .btn_warp{
  float: right;
}
.menu_drop .btn_warp .ant-btn{
  border: 0;
  background-color: transparent;
  height: 20px 
}
.menu_drop .btn_warp .select_num{
  margin: 0px 10px;
}
/*********************************************** RoomSelect ***********************************************/
.RoomSelect {
  width: 1600px;
  margin: auto;
  margin-top: 30px;
}
/*********************************************** RoomSelect - RoomDetail ***********************************************/
.RoomSelect .RoomDetail{
  width: 70%;
  float: left;
  padding-right: 30px;
  padding-left: 10px;
}
.RoomSelect .RoomDetail .margin_content{
  margin-bottom: 100px;
}
.RoomSelect .RoomDetail .content .info {
  float: left;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.RoomSelect .RoomDetail .content .info .ant-collapse .ant-collapse-item{
  border-top: 1px solid #e8e8e8;
}
.RoomSelect .RoomDetail .content .info .ant-collapse > .ant-collapse-item {
  border-bottom: 0;
}
.RoomSelect .RoomDetail .content .info .ant-collapse-content{
  border-top:0;
}
.RoomSelect .RoomDetail .content .info .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  padding: 12px 12px 0px 12px;
  color:#398085;
  text-align: center;
}
.RoomSelect .RoomDetail .content .info .ant-collapse-content > .ant-collapse-content-box{
  margin-top: 20px;
  background-color: #40a9ff29;
 /* padding: 20px!important;
  */
}
.RoomSelect .RoomDetail .content .info .DayPicker{
  width: 100%;
  font-size: 1.1em;
}
.RoomSelect .RoomDetail .content .info .DayPicker .DayPicker-Month{
  width: 43%;
}
.RoomSelect .RoomDetail .content .info p span{
  margin: 0 5px;
}
.RoomSelect .RoomDetail .content .info i{
  margin: 5px 10px;
}
.RoomSelect .RoomDetail .content .info .ant-input-number span{
  margin: 0;
}
.RoomSelect .RoomDetail .content .info .ant-input-number span i{
  margin: -5px 0px 0px 0px;
}
.RoomSelect .RoomDetail .myr{
  float: right 
}
.RoomSelect .RoomDetail .myr .select{
  width: 100px;
}
.RoomSelect .RoomDetail .myr .select i{
  margin: 0!important;
}
.RoomSelect .RoomDetail .myr .select span{
  margin: -6px!important;
}
.RoomSelect .RoomDetail .list_content{
  margin-top: 30px;
  float: left;
  border-bottom: 1px solid #e8e8e8;
}
.RoomSelect .RoomDetail .list_content .slider{
  width: 38%;
  float: left;
}
.RoomSelect .RoomDetail .list_content .slider_warp{
  width: 380px;
  height: 250px;
  position: relative;
}
.RoomSelect .RoomDetail .list_content .slider_warp img{
  width: 380px;
  height: 250px;
  object-fit: cover;
}
.RoomSelect .RoomDetail .list_content .slider_warp .slick-dots{
  bottom: 10px;
  z-index: 1;
}
.RoomSelect .RoomDetail .list_content .slider_warp .slick-dots li.slick-active button:before{
  color: #fff;
}
.RoomSelect .RoomDetail .list_content .slider_warp .slick-dots li button:before{
  color: #fff;
}
.RoomSelect .RoomDetail .list_content .slider_warp .notice{
  position: absolute;
  top: 0;
  right:0;
  padding: 10px;
  background: #db2828;
  color:#fff;
  font-weight: bold;
}
.RoomSelect .RoomDetail .content_warp{
  float: left;
  width: 62%;
}
.RoomSelect .RoomDetail .content_warp .title{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.RoomSelect .RoomDetail .content_warp .ui.list .list>.item a.header, .ui.list>.item a.header{
  color: #398085!important;
  font-weight: lighter;
}
.RoomSelect .RoomDetail .content_warp .ui.horizontal.list {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.RoomSelect .RoomDetail .content_warp .ui.horizontal.list .item{
  width: 33.33%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}
.RoomSelect .RoomDetail .detial_content{
  margin-top: 10px;
  float: left;
}
.RoomSelect .RoomDetail .select_content {
  float: right;
}
.RoomSelect .RoomDetail .select_content .price{
  color: #398085;
  margin-right: 10px;
  font-weight: bold;
}
/* .RoomSelect .RoomDetail .select_content .ant-select-selection{
  border: 0;
}
.RoomSelect .RoomDetail .select_content .ant-select-open .ant-select-selection{
  border-color: transparent;
}
*/
.RoomSelect .RoomDetail .select_content .price small{
  font-size:1.2em;
}
.RoomSelect .RoomDetail .select_content .price span{
  font-size: 2.5em;
}
.RoomSelect .RoomDetail .dropdown_select{
  margin: 0!important;
}
.RoomSelect .RoomDetail .dropdown_select .warp_select{
  margin-right: 10px!important;
  margin-left: 0!important;
}
.RoomSelect .RoomDetail .dropdown_select .warp_select span{
  margin-right: 10px;
}
.RoomSelect .RoomDetail .dropdown_select .warp_select.adults span{
  color: #db2828;
}
.RoomSelect .RoomDetail .dropdown_select .warp_select.children span{
  color: #21ba45;
}
.RoomSelect .RoomDetail .dropdown_select .warp_select.infants span{
  color: #40a9ff;
}
.continue .ant-result{
  padding: 24px;
}
.room_select {
  margin-right: 10px;
}
.res_other_deals{
  display: none;
  float: left;
}
/*********************************************** RoomSelect - Summery ***********************************************/
.Summery{
  width: 30%;
  float: left;
  padding-left: 70px;
  padding-right: 10px;
}
.Summery .ant-statistic{
  padding: 0px 10px;
}
.Summery .ant-statistic-title{
  float: left;
  font-size: 24px;
}
.Summery .ant-statistic-content{
  text-align: right;
  color: #d7b46a;
}
.Summery .ant-card-head{
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  min-height: 45px;
}
.Summery .ant-card-head-title{
  padding: 10px 0;
}
.Summery .card_warp .ant-card-actions{
  background-color: #398085;
}
.Summery .card_warp .ant-card-actions .footer{
  color: #fff;
  font-weight: bold;
}
.Summery .card_warp .content_list{
  float: right;
  font-weight: bold;
}
.Summery .BookingDetails .ant-card-body{
  padding: 10px 20px;
  max-height: 450px;
  overflow: auto;
}
.Summery .card_warp .booking_detail{
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
}
.Summery .card_warp .booking_detail p{
  margin-bottom: 5px;
}
.Summery .card_warp .booking_detail .remove_btn{
  padding: 5px;
  margin-bottom: 10px;
  float: right;
}
.Summery .card_warp p:last-child{
  margin-bottom: 1rem;
}
.Summery .card_warp .facilitie {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.Summery .card_warp .facilitie .other_warp{
  margin-bottom: 1rem;
}
.Summery .card_warp .facilitie .other_warp .other_detail{
  width: 80%;
  margin: auto;
}
.Summery .card_warp .summary_price {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.Summery .card_warp .summary_price .content{
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
}
.Summery .card_warp .summary_price .price{
  color: #db2828;
  font-weight: bold;
  float: right;
  font-size: 2.5em;
}
.Summery .card_warp .summary_price .price small{
  font-size: 14px;
}
.Summery .card_warp .notice .content {
  font-size: .8em;
}
.Summery .card_warp .notice p p{
  margin-top: 5px;
  margin-bottom: 0;
}
.Summery .other_warp_deals{
  margin-bottom: 50px;
}
.Summery .other_warp_deals .ant-card-head{
  background-color: #6b6b6b;
}
.Summery .other_warp_deals .summary_price .content img{
  width: 120px;
  height: 35px;
}
.Summery .other_warp_deals .summary_price .price{
  font-size: 2em;
  color:#000;
  font-weight: 500;
}
.Summery .other_warp_deals .summary_price:nth-child(2) .content img{
  width: 125px;
  height: 45px;
}
.Summery .other_warp_deals .summary_price:nth-child(3n){
  margin-bottom: 0px;
}
.Summery .other_warp .price{
  color: #000!important;
  font-weight: 400!important;
  font-size: 2em!important;
}
.Summery .view_all {
  border: 0;
  margin-bottom: 20px;
}
.Summery .view_all .ant-collapse-content{
  border-top:0;
}
.Summery .view_all.ant-collapse{
  background-color: transparent;
}
.Summery .view_all .ant-collapse-header{
  text-align: center;
}
.Summery .other_warp_deals .price_notice{
  font-size: 12px;
}
.Summery .other_warp_deals .ant-collapse-content > .ant-collapse-content-box{
  padding: 16px 0px;
}
.Summery .other_warp_deals .ant-card-body{
  padding: 20px 24px;
}
/*********************************************** PersonalDetail ***********************************************/
.PersonalDetail {
  width: 1600px;
  margin: auto;
  margin-top: 30px;
}
/*********************************************** PersonalDetail - form_detail ***********************************************/
.PersonalDetail .form_detail{
  width: 70%;
  float: left;
  padding-right: 30px;
  padding-left: 10px;
}
.PersonalDetail .form_detail .header p{
  margin-bottom: 5px;
}
.PersonalDetail .form_detail .header p:last-child{
  margin-bottom: 20px;
}
.PersonalDetail .form_detail .header{
  border-bottom: 1px solid #e8e8e8;
}
.PersonalDetail .form_detail .form_warp{
  margin-top: 20px;
}
.PersonalDetail .form_detail .form_warp .form_control{
  margin-bottom: 30px;
}
.PersonalDetail .form_detail .form_warp .ant-input{
  border:0;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0;
  padding: 4px 0px;
}
.PersonalDetail .form_detail .form_warp .ant-input:focus {
  box-shadow: none;
  border-color: #40a9ff;
}
.PersonalDetail .form_detail .form_warp .ant-input:hover{
  border-color: #40a9ff;
}
.PersonalDetail .form_detail .form_warp .country .ant-select-selection--single{
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}
.PersonalDetail .form_detail .form_warp .country .ant-select-open .ant-select-selection{
  box-shadow: none;
}
.PersonalDetail .form_detail .form_warp .country .ant-select-selection:focus{
  box-shadow: none!important;
}
.PersonalDetail .form_detail .form_warp .country .ant-select-selection__rendered{
  margin-left: 0px;
}
.PersonalDetail .form_detail .form_warp .country .ant-select-arrow .ant-select-arrow-icon{
  color: #414141;
}
.PersonalDetail .form_detail .form_warp .add_warp .ant-collapse{
  border: 0;
}
.PersonalDetail .form_detail .form_warp .add_warp .ant-collapse-content{
  border-top:0;
  background-color: #f1f1f1;
  margin-top: 10px;
}
.PersonalDetail .form_detail .form_warp .add_warp .ant-collapse > .ant-collapse-item{
  border-bottom: 0;
}
.PersonalDetail .form_detail .form_warp .add_warp .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0px;
}
.PersonalDetail .form_detail .form_warp .add_warp .add_select{
  padding: 15px;
  background-color: #fff;
  margin-bottom: 5px;
}
.PersonalDetail .form_detail .form_warp .add_warp .add_select .title{
  font-weight: bold;
}
.PersonalDetail .form_detail .form_warp .add_warp .add_select .select{
  float: right;
  margin-top: -8px;
}
.PersonalDetail .form_warp .form_control .forms{
  width: 50%;
  float: left;
}
.PersonalDetail .form_warp .form_control .forms:nth-child(1n){
  padding-right: 10px;
}
.PersonalDetail .form_warp .form_control .forms:nth-child(2n){
  padding-left: 10px;
}
.breakfast{
  background-color: #000;
  color: #fff;
  border: 2px solid #398085;
}
.breakfast .number{
  padding: 0px 30px;
}
.breakfast .ant-btn{
  background-color: #414141;
  border: 0;
  color:#fff;
  border-radius: 0;
}
.breakfast .ant-btn:hover{
  background-color: #414141;
  border: 0;
  color:#fff;
}
.breakfast .ant-btn:focus{
  background-color: #414141;
  color:#fff;
  border: 0;
}
.add_select .ant-checkbox-inner{
  width: 25px;
  height: 25px;
}
.add_select input[type='radio'], form input[type='checkbox'] {
  width: 25px;
  height: 25px;
}
.add_select .ant-checkbox-inner::after{
  left: 32%;
}
/*********************************************** PersonalDetail - PersonalSummary ***********************************************/
.PersonalDetail .form_detail{
  padding-bottom: 100px;
}
.PersonalDetail .Summery.PersonalSummary .card_warp .ant-card-actions{
  background-color: #f83849;
}
.mobile_view{
  display: none;
}
.Summery .card_warp .notice .content {
  font-size: .8em;
}
.PersonalDetail .t_d_style{
  font-size: 12px;
}
/*********************************************** responsive media query ***********************************************/
@media only screen and (max-width: 1599px) {
  .RoomSelect {
      width: 1200px;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp {
      width: 280px;
      height: 235px;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp img{
      width: 100%;
      height: 235px;
 }
  .Summery {
      padding-left: 40px;
 }
  .Summery .card_warp .summary_price .content {
      font-size: 1.2em;
 }
  .Summery .card_warp .summary_price .price{
      font-size: 1.5em;
 }
  .Summery .other_warp_deals .summary_price .content img {
      width: 120px;
      height: 35px;
 }
  .Summery .other_warp_deals .summary_price:nth-child(2) .content img {
      width: 120px;
      height: 40px;
 }
  .PersonalDetail {
      width: 1200px;
 }
  .PersonalDetail .res_warp .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
      top: -10px;
 }
}
@media only screen and (max-width: 1200px) {
  .RoomSelect {
      width: 1000px;
 }
  .RoomSelect .RoomDetail{
      padding-right: 50px;
 }
  .Summery .ant-card-head-title {
      font-size: .9em;
 }
  .RoomSelect .RoomDetail .content_warp{
      width: 60%;
 }
  .RoomSelect .RoomDetail .list_content .slider {
      width: 40%;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp {
      width: 245px;
      height: 200px;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp img{
      height: 200px;
 }
  .RoomSelect .RoomDetail .content_warp .title{
      font-size: 1.2em;
 }
  .RoomDetail .ui.avatar.image{
      width: 1.2em;
      height: 1.2em;
 }
  .RoomDetail .ui.list>.item a.header{
      font-size: .9em;
 }
  .RoomSelect .RoomDetail .detial_content {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: .9em;
 }
  .RoomSelect .RoomDetail .select_content .price small {
      font-size: 1em;
 }
  .RoomSelect .RoomDetail .select_content .price span {
      font-size: 2em;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp .notice {
      padding: 5px;
      font-size: 1em;
 }
  .RoomSelect .RoomDetail .margin_content .info p{
      font-size: .9em;
 }
  .RoomSelect .RoomDetail .content .info p span {
      margin: 0px 5px;
 }
  .RoomSelect .RoomDetail .content .info .ant-select-selection--single{
      height: 27px;
 }
  .RoomSelect .RoomDetail .content .info .ant-select-selection__rendered {
      line-height: 27px;
 }
  .Summery {
      padding-left: 20px;
 }
  .Summery .ant-card-body {
      padding: 20px 10px;
 }
  .Summery .card_warp .booking_detail {
      font-size: .9em;
 }
  .Summery .card_warp .facilitie{
      font-size: .9em;
 }
  .Summery .card_warp .summary_price .content {
      font-size: 1em;
 }
  .Summery .card_warp .summary_price .price {
      font-size: 1.3em;
 }
  .Summery .other_warp_deals .ant-card-body{
      padding: 15px 10px;
 }
  .Summery .other_warp_deals .summary_price .content img {
      width: 100px;
      height: 30px;
 }
  .Summery .other_warp_deals .summary_price:nth-child(2) .content img {
      width: 100px;
      height: 40px;
 }
  .Summery .ant-card-head{
      min-height: 40px;
 }
  .PersonalDetail {
      width: 1000px;
 }
}
@media only screen and (max-width: 1050px) {
  .SelectDate .content .warpper {
      width: 750px;
 }
  .Menu .menu_warp {
      width: 80%;
 }
  .SelectDate .date_warpper {
      width: 630px;
 }
  .SelectDate .DayPicker {
      width: 630px;
      font-size: 1em;
 }
  .SelectDate .select_btn_warp {
      width: 120px;
 }
  .SelectDate .date_select_content .warp .select {
      font-size: 1em;
 }
  .SelectDate .priceStyle {
      font-size: 12px;
 }
  .SelectDate .dropdown_select .warp_select {
      margin-right: 20px;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(1) {
      height: 80px;
      font-size: 1.5em;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(2) {
      height: 80px;
      font-size: 1.5em;
 }
  .SelectDate .content .warpper h1 {
      margin-bottom: 0;
 }
  .SelectDate .ui.fluid.image {
      min-height: 800px;
 }
  .SelectDate .ui.steps .step .description {
      font-weight: 400;
 }
  .SelectDate .ui.steps .step .title {
      font-size: 1em;
 }
  .SelectDate .ui.steps .step>.icon {
      font-size: 1.8em;
 }
}
@media only screen and (max-width: 1000px) {
  .RoomSelect {
      width: 100%;
 }
  .PersonalDetail .form_detail{
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
 }
  .PersonalDetail {
      width: 100%;
 }
  .PersonalDetail .res_warp{
      width: 730px;
      margin: auto;
 }
  .res_drawer .PersonalSummary{
      width: 100%;
      padding-left: 0;
 }
  .Summery{
      padding-right: 0px;
 }
  .RoomSelect .res_warp{
      width: 730px;
      margin: auto;
 }
  .RoomSelect .RoomDetail {
      width: 100%;
      padding-right: 0px;
      margin: auto;
      padding-left: 0;
 }
  .RoomSelect {
      margin-top: 10px;
 }
  .RoomSelect .RoomDetail .content .info{
      margin-bottom: 0;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp {
      width: 280px;
 }
  .desktop_view{
      display: none;
 }
  .mobile_view{
      display: block;
 }
  .mobile_view.stick_bottom{
      width: 100%;
      float: left;
      position: fixed;
      bottom:0;
 }
  .mobile_view.stick_bottom .ant-btn{
      background-color: #fff;
      box-shadow: 0px 10px 30px #0009;
      height: 60px;
      width: 100%;
      border-color:transparent;
      color:#000;
      text-align: inherit;
      border-radius: 0px;
 }
  .mobile_view.stick_bottom .ant-btn .details{
      text-align: left;
      padding: 10px 0px;
 }
  .mobile_view .TimeCountdown{
      margin-top: 10px;
 }
  .mobile_view.stick_bottom .ant-btn .details p{
      margin-bottom: 0px;
 }
  .mobile_view.stick_bottom .ant-btn .details p:nth-child(2){
      color:#398085;
      font-size: 12px;
 }
  .mobile_view.stick_bottom .ant-btn .time{
      float: right;
 }
  .mobile_view.stick_bottom .ant-btn .time p{
      margin-bottom: 0px;
 }
  .mobile_view.stick_bottom .ant-btn .time .ant-statistic-content{
      color: #d7b46a;
 }
  .res_drawer{
      margin-top: 10px;
 }
  .res_drawer .ant-card-body{
      overflow: auto;
      height: 100vh;
 }
  .res_drawer .notice{
      padding-bottom: 250px;
 }
  .res_drawer .PersonalBookingDetail{
      margin-top: 30px;
 }
  .drawer_warp .ant-drawer-body{
      padding: 24px 0px;
 }
  .drawer_warp .ant-drawer-close{
      background-color: #f06373;
      color:#fff;
 }
  .res_drawer .ant-card-bordered{
      border: 0;
 }
  .res_drawer .booking_detail{
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 20px;
 }
  .res_drawer .booking_detail p:last-child{
      margin-bottom: 1em;
 }
  .res_drawer .booking_detail p span:nth-child(2){
      float: right;
      font-weight: bold;
 }
  .res_drawer .BookingDetails .summary_price {
      margin-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;
 }
  .res_drawer .BookingDetails p{
      margin-bottom: 5px;
 }
  .res_drawer .BookingDetails .summary_price p{
      margin-bottom: 20px;
 }
  .res_drawer .BookingDetails .summary_price .content {
      color: #000;
      font-weight: bold;
      font-size: 1.5em;
 }
  .res_drawer .BookingDetails .summary_price .price {
      color: #db2828;
      font-weight: bold;
      font-size: 2em;
      float: right;
 }
  .res_drawer .BookingDetails .notice .content{
      font-size: 12px;
 }
  .res_drawer .BookingDetails .notice .content .cancel{
      margin-top: 10px;
 }
  .res_drawer .BookingDetails .ant-card-actions{
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #398085;
 }
  .res_drawer .BookingDetails .ant-card-actions .footer{
      color: #fff;
      font-weight: bold;
 }
  .res_other_deals{
      display: block;
      margin: 20px 0px;
      width: 100%;
 }
  .res_other_deals .OtherDeals .ant-card-head{
      min-height: 35px;
      background-color: #6b6b6b;
      color: #fff;
 }
  .res_other_deals .OtherDeals .ant-card-body{
      padding: 15px;
 }
  .res_other_deals .OtherDeals .content img{
      width: 80px;
      height: 25px;
 }
  .res_other_deals .OtherDeals .summary_price{
      width: 33.33%;
      float: left;
      padding: 0px 20px;
 }
  .res_other_deals .OtherDeals .summary_price .price{
      float: right;
      color: #000;
 }
  .res_other_deals .OtherDeals .summary_price:nth-last-child(2){
      width: 33.33%;
      float: left;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
 }
  .RoomSelect .RoomDetail .list_content{
      border-bottom: 0;
 }
  .res_drawer .Summery.PersonalSummary .ant-card-body{
      padding: 24px;
 }
  .res_drawer .PersonalBookingDetail .ant-card-actions {
      background-color: #f83849;
      position: fixed;
      bottom: 0;
      width: 100%;
 }
  .res_drawer .PersonalBookingDetail .ant-card-actions .footer{
      color: #fff;
      font-weight: bold;
 }
  .res_drawer .PersonalBookingDetail .facilitie {
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 20px;
 }
  .res_drawer .PersonalBookingDetail .facilitie .other_warp .other_detail{
      width: 80%;
      margin: auto;
 }
  .res_drawer .PersonalBookingDetail .facilitie .other_warp .other_detail p{
      margin-bottom: 5px;
 }
  .res_drawer .PersonalBookingDetail .facilitie .other_warp .other_detail p:nth-child(2){
      margin-bottom: 20px;
 }
  .res_drawer .PersonalBookingDetail .facilitie .other_warp .content_list{
      float: right;
      font-weight: bold;
 }
  .res_drawer .PersonalBookingDetail .summary_price{
      margin-bottom: 20px;
 }
  .res_drawer .PersonalBookingDetail .summary_price .content {
      color: #000;
      font-weight: bold;
      font-size: 1.5em;
 }
  .res_drawer .PersonalBookingDetail .summary_price .price {
      color: #db2828;
      font-weight: bold;
      float: right;
      font-size: 2em;
 }
  .res_drawer .PersonalBookingDetail .notice{
      border-top: 1px solid #e8e8e8;
 }
  .res_drawer .PersonalBookingDetail .notice p{
      margin-top: 20px;
      font-size: 12px;
 }
  .res_drawer .PersonalBookingDetail .notice p p{
      margin-top: 10px;
 }
  .res_drawer .PersonalBookingDetail .t_d_style{
      font-size: 12px;
 }
  .res_drawer .BookingDetails .remove_btn{
      float: right;
      padding: 5px;
      margin-bottom: 10px;
 }
  .res_other_deals .OtherDeals .ant-card-head-title {
      padding: 5px 0;
 }
}
@media only screen and (max-width: 850px) {
  .SelectDate .content .warpper {
      width: 90%;
 }
  .Menu .menu_warp {
      width: 100%;
 }
  .SelectDate .date_warpper {
      width: 83%;
 }
  .SelectDate .DayPicker {
      width: 100%;
 }
  .SelectDate .select_btn_warp {
      width: 17%;
 }
}
@media only screen and (max-width: 767px) {
  .Menu .ui.steps:not(.unstackable) .step{
      width: 33.33%!important;
      flex-direction: row;
      border-radius:0;
      padding: 10px 0px;
 }
  .Menu .ui.steps:not(.unstackable) .step>.icon {
      margin: 0 1rem 0 0;
 }
  .Menu .ui.steps:not(.unstackable) .step .content {
      text-align: left;
 }
  .Menu .ui.steps:not(.unstackable) {
      display: inline-flex;
      flex-direction: row;
 }
  .ui.steps .step .title~.description{
      display: none 
 }
  .SelectDate .content .warpper h1 {
      font-size: 3.5em;
 }
  .SelectDate .dropdown_select .warp_select {
      margin-right: 10px;
 }
  .PersonalDetail .res_warp .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
      top:-10px;
 }
}
@media only screen and (max-width: 750px) {
  .RoomSelect .res_warp{
      width: 95%;
 }
  .RoomSelect .RoomDetail .list_content .slider {
      width: 100%;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp{
      width: 100%;
      height: 400px;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp img {
      height: 400px;
 }
  .RoomSelect .RoomDetail .list_content {
      float: none;
 }
  .RoomSelect .RoomDetail .content .info{
      float: none;
 }
  .RoomSelect .RoomDetail .content_warp {
      width: 100%;
      padding: 15px 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #e8e8e8;
 }
  .RoomSelect .RoomDetail .content .info .DayPicker .DayPicker-Month {
      width: 100%;
 }
  .PersonalDetail .res_warp{
      width: 95%;
 }
}
@media only screen and (max-width: 600px) {
  .SelectDate .dropdown_select .warp_select {
      margin-right: 5px;
 }
  .SelectDate .content .warpper h1 {
      font-size: 2.5em;
      margin-top: 20px;
 }
  .SelectDate .date_warpper {
      width: 100%;
 }
  .SelectDate .select_btn_warp {
      width: 100%;
      margin-top: 0;
 }
  .SelectDate .content {
      top: 20px;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(1){
      width: 50%;
      float: left;
      height: 70px;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(2){
      width: 50%;
      float: left;
      height: 70px;
 }
  .Menu .ui.steps .step>.icon {
      font-size: 1.8em;
 }
  .Menu .ui.steps .step.active .title {
      font-size: 1em;
 }
  .SelectDate .dropdown_select .warp_select span {
      margin-right: 5px;
 }
  .RoomSelect .RoomDetail .content .info p .guest_select {
      display: block;
      width: 70%;
      float: left;
      margin: 0;
      margin-top: 8px;
 }
  .RoomSelect .RoomDetail .content .info p .myr {
      display: block;
      width: 30%;
      float: right;
      margin: 0;
      text-align: right;
      margin-top: 8px;
 }
  .RoomSelect .RoomDetail .myr .select {
      width: 85px;
 }
  .res_other_deals .OtherDeals .summary_price .price{
      width: 100%;
      margin-top: 5px;
 }
  .res_other_deals .OtherDeals .summary_price{
      text-align: center;
      padding: 0px 5px;
 }
}
@media only screen and (max-width: 450px) {
  .SelectDate .content .warpper {
      width: 95%;
 }
  .Menu {
      padding: 20px 10px;
 }
  .PersonalDetail .form_warp .form_control .forms {
      width: 100%;
 }
  .PersonalDetail .form_detail .form_warp .add_warp {
      margin-top: 30px;
 }
  .PersonalDetail .form_detail .form_warp .add_warp .ant-collapse-content-box p{
      font-size: 12px;
 }
  .PersonalDetail .form_detail .form_warp .add_warp .ant-collapse-header{
      font-size: 12px;
 }
  .PersonalDetail .form_detail .form_warp .form_control {
      margin-bottom: 15px;
 }
  .PersonalDetail .form_detail .form_warp .form_control:nth-child(2){
      margin-bottom: 0px;
 }
  .PersonalDetail .form_detail .form_warp .form_control:nth-child(3){
      margin-bottom: 0px;
 }
  .PersonalDetail .form_warp .form_control .forms:nth-child(1n) {
      padding-right: 0px;
      margin-bottom: 15px;
 }
  .PersonalDetail .form_warp .form_control .forms:nth-child(2n) {
      padding-left: 0px;
 }
  .Menu .ui.steps:not(.unstackable) .step .content {
      text-align: center;
      width: 100%;
      font-size: .9em;
 }
  .Menu .ui.steps:not(.unstackable) .step>.icon {
      margin: 0 0 7px 0;
 }
  .Menu .ui.steps:not(.unstackable) .step {
      padding: 5px 0px;
 }
  .SelectDate .date_select_content .warp .select {
      font-size: .9em;
 }
  .SelectDate .date_select_content {
      padding: 10px 5px;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(1){
      height: 50px;
      font-size: 1.2em;
 }
  .SelectDate .select_btn_warp .ant-btn:nth-child(2){
      height: 50px;
      font-size: 1.2em;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp{
      height: 300px;
 }
  .RoomSelect .RoomDetail .list_content .slider_warp img {
      height: 300px;
 }
  .RoomSelect .RoomDetail .content_warp {
      padding: 15px 5px;
 }
}
@media only screen and (max-width: 400px) {
  .SelectDate .DayPicker {
      overflow-x: auto;
 }
  .breakfast .number {
      padding: 0px 20px;
 }
  .SelectDate .date_select_content .warp .select {
      font-size: .8em;
 }
  .SelectDate .DayPicker .DayPicker-Month {
      display: block;
 }
  .SelectDate .date_select_content .warp:nth-child(1) {
      width: 50%;
 }
  .SelectDate .date_select_content .warp:nth-child(2) {
      width: 50%;
 }
  .SelectDate .date_select_content .warp:nth-child(1) p{
      margin-bottom: 5px;
 }
  .SelectDate .date_select_content .warp:nth-child(2) p{
      margin-bottom: 5px;
 }
  .SelectDate .date_select_content .warp:nth-child(3) {
      width: 100%;
      margin-top: 10px;
 }
  .SelectDate .date_select_content .warp:nth-child(3) p{
      margin-bottom: 0;
      width: 50%;
      float: left;
 }
 /* .SelectDate .content {
      top: 130px;
 }
  */
  .RoomDetail .ui.list>.item a.header {
      font-size: .8em;
 }
  .res_other_deals .OtherDeals .ant-card-body {
      padding: 15px 5px;
 }
}
