.Menu{
  padding: 20px;
}
.Menu .menu_warp{
  width: 70%;
  margin: auto;
}
.Menu .ui.steps .step.active{
  background: #398085;
}
.Menu .ui.steps .active.step .icon{
  color:#fff;
}
.Menu .ui.steps .step.active .title{
  color:#fff;
}
.Menu .ui.steps .step.active:after {
  background: #398085;
}
.Menu .ui.steps .step{
  padding: 10px;
}
.Menu .ui.steps{
  width: 100%;
}
.Menu .ui.steps .step.active .description{
  color: #fff
}
.Menu .logo{
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.Menu .logo img{
  width: 190px;
  height: 70px;
  margin-top: -10px;
}

@media only screen and (max-width: 1599px) {
  .Menu .logo img{
    width: 170px;
    height: 70px;
  }
}

