.ConfirmOrder .ant-card-body{
  padding: 50px 24px;
}
.ConfirmOrder .confirm_card{
  margin-top: 50px;
}
.ConfirmOrder .confirm_card {
  border: 0;
}
.ConfirmOrder .confirm_card .ant-btn{
  border-radius: 0;
}

/*********************************************** responsive media query ***********************************************/
@media only screen and (max-width: 450px) {
  .ConfirmOrder .confirm_card{
    margin-top: 0px;
  }
  .ConfirmOrder .ant-card-body{
    padding: 30px 20px;
  }
  .ConfirmOrder .ant-result {
    padding:  20px 0px;
}
}