@import '~antd/dist/antd.css';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.clear{
  clear: both;
}
.error{
  color: red;
}
.error_border{
  border-bottom-color: red!important;
}
.error_border_checkbox{
  border: 1px solid red!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
